@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

*{
    margin: 0;
}

body{
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 97%;
}

.header {
    text-align: left;
}

.header a{
    text-decoration: none;
    color:#fff;
    padding: 4px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

.control-panel{
    color: #fff;
    font-weight: bold;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    font-family: 'Popping', sans-serif;
    background: white;
    border: 1px solid gray;
}

#editor {height: 400px}

.button-container {
    text-align: right;
    padding: 4px;
}

.btn {
    font-family: cursive;
    background: #57a958;
    color: white;
    padding: 8px;
    border: 0;
}

.btn:hover {
    background: white;
    color: #57a958;
}

.output {
    color: #fff;
    padding: 4px;
    border: 2px solid gray;
    min-height: 150px;
    width: 99%;
    resize: none;
    background: #002240;
}